<div class="container">
  <h1><%= "#{@artist.first_name} #{@artist.last_name}" %></h1>
  <p>Geboren: <%= @artist.birthday %></p>
  <p>Gestorben: <%= @artist.deathday %></p>
  <p>Kategorie: <%= @artist.category %></p>

  <ul class="list-group">
    <% @artist.items.each do |item| %>
      <li class="list-group-item">
        <%= link_to item_path(item) do %>
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <% if item.photos.first %>
                <%= image_tag item.photos.first.url, width: 40, height: 40, class: "mr-3"  %>
              <% else %>
                <%= image_tag "ring.jpg", width: 40, height: 40, class: "mr-3" %>
              <% end %>
              <span class="font-weight-bold"><%= item.titel %></span>
              <span class=""><%= item.category %></span>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>


  <%= link_to edit_artist_path(@artist), class: "btn btn-warning" do %>
    <i class="fas fa-edit"></i> Bearbeiten
  <% end %>

  <%= link_to artist_path(@artist), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Bist du sicher?" }, class: "btn btn-danger" do %>
    <i class="fas fa-trash-alt"></i> Löschen
  <% end %>

  <%= link_to @index_url, class: "btn btn-primary" do %>
    <i class="fas fa-arrow-left"></i> Zurück
  <% end %>
</div>
