<div class="container">
  <h1><%= "#{@artist.first_name} #{@artist.last_name}" %></h1>
  <p>Geboren: <%= @artist.birthday %></p>
  <p>Gestorben: <%= @artist.deathday %></p>
  <p>Kategorie: <%= @artist.category %></p>

  <%= link_to 'Bearbeiten', edit_artist_path(@artist), class: "btn btn-warning" %>
  <%= link_to 'Löschen', artist_path(@artist), data: {turbo_method: :delete, turbo_confirm: "Bist du sicher?"}, class: "btn btn-danger"  %>
  <%= link_to "Zurück", request.referrer || root_path, class: "btn btn-primary" %>
</div>
