<div class="card mb-4">
  <div class="card-body">
    <h3>Kommentare</h3>
    <ul class="list-group">
      <% @item.comments.each do |comment| %>
        <li class="list-group-item">
          <!-- <%= comment.text %> -->
          <%= simple_format(comment.text) %>
          <%= link_to edit_item_comment_path(@item, comment), class: "btn btn-warning btn-sm float-end" do %>
            <i class="fas fa-pencil-alt"></i> Ändern
          <% end %>

          <%= link_to item_comment_path(@item, comment), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger btn-sm float-end me-2" do %>
            <i class="fas fa-trash-alt"></i> Löschen
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= render partial: 'comments/form', locals: { item: @item, comment: Comment.new} %>
  </div>
</div>
