<div class="container">
  <div class="card mb-4">
    <div class="card-header card-title">
      <%= @task.titel %>
    </div>
    <div class="card-body" data-controller="checkbox">
      <p class="card-text"><%= @task.content %></p>
      <%= form_with(model: @task, url: item_task_path(@task), local: true) do |form| %>
        <label class="checkbox-label" data-checkbox-target="checkboxLabel">
          <%= form.check_box :done, data: { action: "change->checkbox#toggle" } %>
          <span class="checkbox-label-text"><%= @task.done ? 'Erledigt' : 'Noch offen' %></span>
        </label>
      <% end %>
    </div>
  </div>

  <%= link_to edit_item_task_path(@task), class: "btn btn-warning" do %>
    <i class="fas fa-pencil-alt"></i> Bearbeiten
  <% end %>

  <%= link_to item_task_path(@task), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Bist du sicher?" }, class: "btn btn-danger" do %>
    <i class="fas fa-trash-alt"></i> Löschen
  <% end %>

  <%= link_to @index_url, class: "btn btn-primary" do %>
    <i class="fas fa-arrow-left"></i> Zurück
  <% end %>
</div>
