<h1><%= @task.titel %></h1>
<p><%= @task.content %></p>
<%= @task.done %>

<%= link_to 'Bearbeiten', edit_item_task_path(@task) %>
<%= link_to 'Löschen', item_task_path(@task), data: {turbo_method: :delete, turbo_confirm: "Bist du sicher?"} %>
<%= link_to "Zurück", request.referrer || root_path, class: "btn btn-primary" %>
