<%= form_with url: items_path, method: :get, html: { data: { columns_filter_target: "form" } } do |f| %>
  <div class="mb-3">
    <%= f.select :artist_id, options_for_select([["Nach K체nstler filtern", ""]] + Artist.all.map { |a| [a.full_name, a.id] }.unshift(''), selected: params[:artist_id]), { }, { data: { controller: "tom-select", action: "change->columns-filter#submitForm" } } %>
  </div>

  <div class="mb-3">
    <%= text_field_tag :query, params[:query], data: { columns_filter_target: "input", action: "keyup->columns-filter#update" }, class: 'input search-box', placeholder: "Volltextsuche", style: "width: 100%" %>
  </div>

  <div class="mb-3">
    <%= f.select :open_tasks, options_for_select([['Nur offene Aufgaben', ''], ['Ja', 'false']], selected: params[:open_tasks]), {} %>
  </div>

  <!-- Deactivated function
  <div class="mb-3">
    <%= f.select :incomplete, options_for_select([['Nur unvollst채ndig Datens채tze', ''], ['Ja', 'true']], selected: params[:incomplete]), {} %>
  </div>
  -->

  <div class="form-group">
    <%= f.button "<i class='fas fa-filter'></i> Filter anwenden".html_safe, type: "button", class: 'btn btn-primary', data: { action: "click->columns-filter#submitForm" } %>
    <button type="button" data-action="click->columns-filter#resetForm" class="btn btn-primary" style="border: 0;"> Zur체cksetzen </button>
  </div>
<% end %>
