<div data-controller="columns-filter">
  <i class="fa-solid fa-filter icon m-2" data-action="click->columns-filter#displayForm"></i>
  <div class="d-flex m-4 d-none icon" data-columns-filter-target="toggle">
    <div class="col-6">
      <%= render partial: 'search' %>
    </div>
    <div class="col-6">
      <%= render partial: 'checkboxes' %>
    </div>
  </div>

  <!-- Toggle button for the bookmark functionality -->
  <i class="fa-solid fa-plus m-2" data-action="click->columns-filter#toggleBookmarkForm"></i>

  <!-- Form for creating bookmarks -->
  <div class="d-flex m-4 d-none" data-columns-filter-target="bookmarkForm" style="align-items: center;">
    <%= simple_form_for Item.new, multipart: true do |f| %>
      <div class="mb-3">
        <label for="listDropdown" class="form-label">Wähle eine Liste:</label>
        <div class="dropdown">
          <%= f.collection_select :list_ids, List.all, :id, :name, {}, { class: 'form-control', id: 'listDropdown' } %>
        </div>
      </div>

      <button type="submit" class="btn btn-primary me-2">
        <i class="fas fa-plus"></i> Lesezeichen hinzufügen
      </button>
    <% end %>
  </div>

  <div data-columns-filter-target="paginationTable">
    <%= render partial: 'pagination_table', locals: { items: @items } %>
  </div>
</div>
