<div data-controller="columns-filter">
  <div class="d-flex justify-content-around mt-2 mb-2">
    <%= render partial: 'search' %>
    <%= render partial: 'checkboxes' %>
  </div>

  <%= render partial: 'table' %>

  <%= render partial: 'pagination' %>

  <%= link_to 'Objekt hinzufügen', new_item_path, class: "btn btn-primary" %>
</div>
