<div data-controller="columns-filter">
  <i class="fa-solid fa-filter icon" data-action="click->columns-filter#displayForm"></i>
  <div class="d-flex justify-content-around mt-2 mb-2 d-none" data-columns-filter-target="toggle">
    <%= render partial: 'search' %>
    <%= render partial: 'checkboxes' %>
  </div>

  <%= render partial: 'table', locals: { items: @items } %>

  <%= render partial: 'pagination' %>

  <%= link_to 'Objekt hinzufügen', new_item_path, class: "btn btn-primary" %>
</div>
