<div class="container">
  <%= render partial: 'main_card' %>

  <%= render partial: 'tasks/card' %>

  <%= render partial: 'comments/card' %>

  <%= render partial: 'references/card' %>

  <%= render partial: 'provenances/card' %>

  <div class="mb-4">
    <%= link_to 'Bearbeiten', edit_item_path(@item), class:"btn btn-warning" %>
    <%= link_to 'Löschen', item_path(@item), data: {turbo_method: :delete, turbo_confirm: "Bist du sicher?"}, class:"btn btn-danger" %>
    <%= link_to "Zurück", items_path, class:"btn btn-primary" %>
  </div>
</div>
