<% @item.photos.each do |photo| %>
  <%= image_tag photo.url %>
<% end %>

<%= @item.titel %>
<%= @item.size %>
<%= link_to "#{@item.artist.first_name} #{@item.artist.last_name}", artist_path(@item.artist) %>
<%= link_to "#{@item.manufacturer.name}", manufacturer_path(@item.manufacturer) %>
<%= @item.material %>
<%= @item.made_at %>
<%= @item.edition %>
<%= @item.provenance %>
<%= @item.category %>

<h3>To-Do's</h3>
<ul>
  <% @item.tasks.each do |task| %>
    <li><%= link_to "#{task.titel}", item_task_path(@item, task) %></li>
  <% end %>
</ul>

<div>
  <%= link_to 'Bearbeiten', edit_item_path(@item) %>
  <%= link_to 'Löschen', item_path(@item), data: {turbo_method: :delete, turbo_confirm: "Bist du sicher?"} %>
  <%= link_to "Zurück", request.referrer || root_path, class: "btn btn-primary" %>
</div>
