<div class="container">
  <%= render partial: 'main_card' %>

  <%= render partial: 'tasks/card' %>

  <%= render partial: 'comments/card' %>

  <%= render partial: 'references/card' %>

  <%= render partial: 'provenances/card' %>

  <%= render partial: 'footer' %>
</div>
